cityBike_final.csv
JC-201904-citibike-tripdata.csv
JC-201905-citibike-tripdata.csv
JC-201906-citibike-tripdata.csv
JC-201907-citibike-tripdata.csv
JC-201908-citibike-tripdata.csv
JC-201909-citibike-tripdata.csv
JC-201910-citibike-tripdata.csv
JC-201911-citibike-tripdata.csv
JC-201912-citibike-tripdata.csv
JC-202001-citibike-tripdata.csv
JC-202002-citibike-tripdata.csv
JC-202003-citibike-tripdata.csv
